# --- CONFIGURACIÓN DE RED Y SERVIDORES ---
SRV_HOST="0.0.0.0"          # IP del servidor principal (Antapaccay)
SRV_PORT=33322              # Puerto SSH del servidor
SRV_USER="tu_usuario"
SRV_PASS="tu_password"
TIMEOUT=300

# --- MIDDLEWARE CMS ---
MW_HOST="127.0.0.1"         # Localhost si usas túnel SSH
MW_PORT=12002

# --- CREDENCIALES DE EQUIPOS ---
EQUIP_USER="pi"
EQUIP_PASS="password_de_fabrica"

# --- IPS ESTÁTICAS ONBOARD ---
ANTENA_IP="192.168.19.130"
PANTALLA_IP="192.168.19.100"